<div class="container row article-tile">
  {{#link-to 'article' article.id class="link"}}
  <div class="col-xs-6">
    <img src={{article.image}}>
  </div>
  <div class="col-xs-6 article-teaser">
    <h3>{{article.headline}}</h3>
    <p>{{article.teaser}}</p>
    <h6>By: <strong>{{article.author}}</strong></h6>
  </div>
  {{/link-to}}
</div>
