body {
  background-color: #f7f7f7;
}

.jumbotron {
  margin-top: 60px;
}

.article-tile {
  background-color: white;
  margin-bottom: 20px;
}

.article-tile img {
  height: 300px;
  width: 300px;
}

.article-teaser {
  padding-top: 10%;
}
