<div class= "container">
  <header class= "jumbotron">
    <h1>Bus-tle</h1>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
          <li><a>{{#link-to 'index'}}New Article{{/link-to}}</a></li>
        </ul>
      </div>
    </nav>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <small>Copyright <strong>Keith Evans</strong> 2017</small>
  </footer>
</div>
